<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCgrYRDErM3whHp2v0pghVAZHZ_C-Meuvo</string>
	<key>GCM_SENDER_ID</key>
	<string>662802348087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.operaNews</string>
	<key>PROJECT_ID</key>
	<string>opera-news-18592</string>
	<key>STORAGE_BUCKET</key>
	<string>opera-news-18592.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:662802348087:ios:494f14c399b0e09dbc27b2</string>
</dict>
</plist>